body {
  background-color: #00FED0;
}

.headers {
  font-family: "Comic Sans MS", cursive, sans-serif	
;
}

.small-fonts {
   font-family: 'Sofia';font-size: 45px;
}

.tutorial-font {
      font-family: 'Annie Use Your Telescope';font-size: 22px;

}
